:host {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 92%;
    height: 100vh;
    
    background-color:  rgba(236, 236, 236, 0.9);
  }

:host.is-open {
    display: block;
    padding: 0px;
    margin: 0px;
}

:host {
    
    /* background-color: red; */
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 0.8s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {transform: translateX(200%);}
    to {transform: translateX(0)}
}

/* Standard syntax */
@keyframes example {
    from {transform: translateX(200%);}
    to {transform: translateX(0)}
}