:host{

    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* height: 600px; */
    
    
}

.infoClass{

    width: 100%;
    height: 100%;
    background-color: white;
}

.btn-start{

    margin: 10px;
    padding: 10px 5px;
    text-align: center;
    width: 20%;
    background-color: orangered;
    color: white;
    border-radius: 5px;

    cursor: pointer;
    
}

.infoClass #canvasP5{

    width: 100%;
    height: 75vh; 
    /* background-color: black; */
    background-image: url("/assets/curso/bg_curso_detail.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* -webkit-filter: blur(10px); 
    filter: blur(10px); */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#canvasP5>h2{
    color: white;
}


#canvasP5video{
    width: 100%;
}

/* Actividades */

.primerRetoControlsContainer{

    display: none;
    width: 100%;
    border-width: 0px;

    /* position: absolute; */
}

.primerRetoControls{

    width: 100%;
    display: flex;
    position: absolute;
    
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #285896;
    

}

.text-wait{

    display: none;
    color: white;
    font-size: 1.5em;
}


.btn{ 


    cursor: pointer;
    padding: 10px;
    background-color: cornflowerblue;

    border-radius: 8px;
    border: solid;
    border-color: white;
    color: white;
    font-size: 1.2em;
    font-weight: 700;

}

.retroAlimentacionBuenaContainer{

display: none;
width: 100%;
height: 100%;
}

.retroAlimentacionBuena{

width: 100%;
height: 100%;
background-color: #285896;
color: white;
display: flex;
align-items: center;
flex-flow: column nowrap;
justify-content: center;

}

.retroAlimentacionMala{

width: 100%;
height: 100%;
background-color: #285896;
color: white;
display: flex;
align-items: center;
flex-flow: column nowrap;
justify-content: center;

}

.retroAlimentacionMalaContainer{

display: none;
width: 100%;
height: 100%;

}

.btn_next{

    cursor: pointer;
    padding: 10px;
    background-color: cornflowerblue;

    border-radius: 8px;
    border: solid;
    border-color: white;
    color: white;
    font-size: 1.2em;
    font-weight: 700;

}

.segundoRetoControls{

    width: 100%;
    display: flex;
    /* position: absolute; */
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: blueviolet;
}
 

.segundoRetoControlsContainer{

    display: none;
    width: 100%;

    /* position: absolute; */
}

.retroAlimentacionMalaContainerSegundo{
    display: none;
width: 100%;
height: 100%;
}
.retroAlimentacionBuenaContainerSegundo{
    display: none;
width: 100%;
height: 100%;
}

.tercerRetoControlsContainer{
    display: none;
    width: 100%;
}


.retroAlimentacionMalaContainerTercero{
    display: none;
width: 100%;
height: 100%;
}

.retroAlimentacionBuenaContainerTercero{
    display: none;
    width: 100%;
    height: 100%;
}

.feed-final-normas{
    display: none;
    width: 100%;
    height: 100%;
}