<a class="btn-start" (click)="empezar()">Empezar</a>

<div class="infoClass">
  
<div id="canvasP5">

    <div id="canvasP5video"></div>

<div class="primerRetoControlsContainer">

  <div class="primerRetoControls">

    <div class="btn izquierda">IZQUIERDA</div>
    <div class="btn derecha">DERECHA</div>
    
  </div>

</div>

<div class="retroAlimentacionBuenaContainer">
    <div class="retroAlimentacionBuena">
      <h2>Respuesta correcta</h2>
      <div class="continuar_btn_correct btn_next">Ver explicación</div>
    </div>
</div>
<div class="retroAlimentacionMalaContainer">
    <div class="retroAlimentacionMala">
        <h2>Respuesta Incorrecta</h2>
        <div class="continuar_btn_bad btn_next">Ver explicación</div>
    </div>
</div>

</div>

<h2>{{clase.name}}</h2>

</div>


