

<div class="infoClass">
  
<div id="canvasP5">
    <h2>{{clase.name}}</h2>
    <a class="btn-start" (click)="empezar()">Empezar</a>
    <p class="text-wait">Espera...</p>
    <div id="canvasP5video">
        
    </div>

    <!-- <div class="videoControls"></div> -->
    

<div class="primerRetoControlsContainer">

  <div class="primerRetoControls">

    <div class="btn izquierda">IZQUIERDA</div>
    <div class="btn derecha">DERECHA</div>
    
  </div>

</div>

<div class="retroAlimentacionBuenaContainer">
    <div class="retroAlimentacionBuena">
      <h2>Respuesta correcta</h2>
      <div class="continuar_btn_correct btn_next">Ver explicación</div>
    </div>
</div>
<div class="retroAlimentacionMalaContainer">
    <div class="retroAlimentacionMala">
        <h2>Respuesta Incorrecta</h2>
        <div class="continuar_btn_bad btn_next">Ver explicación</div>
    </div>
</div>

<div class="segundoRetoControlsContainer">

    <div class="primerRetoControls">
  
      <div class="btn girar_izquierda"> <b>A. </b> Girar a la Izquierda</div>
      <div class="btn girar_derecha"><b>B. </b>Girar a la Derecha</div>
      <div class="btn tomar_cicloruta"><b>C. </b>Tomar la cicloruta</div>
      
    </div>
  
  </div>

  <div class="retroAlimentacionBuenaContainerSegundo">
      <div class="retroAlimentacionBuena">
        <h2>Respuesta correcta</h2>
        <div class="continuar_btn_correct_segundo btn_next">Ver explicación</div>
      </div>
  </div>
  <div class="retroAlimentacionMalaContainerSegundo">
      <div class="retroAlimentacionMala">
          <h2>Respuesta Incorrecta</h2>
          <div class="continuar_btn_bad_segundo btn_next">Ver explicación</div>
      </div>
  </div>

  <div class="tercerRetoControlsContainer">

      <div class="primerRetoControls">
        
          <div class="btn noAvanzar">NO AVANZAR</div>
          <div class="btn avanzar">AVANZAR</div>
        
      </div>
    
    </div>

    <div class="retroAlimentacionBuenaContainerTercero">
        <div class="retroAlimentacionBuena">
          <h2>Respuesta correcta</h2>
          <div class="continuar_btn_correct_tercero btn_next">Ver explicación</div>
        </div>
    </div>
    <div class="retroAlimentacionMalaContainerTercero">
        <div class="retroAlimentacionMala">
            <h2>Respuesta Incorrecta</h2>
            <div class="continuar_btn_bad_tercero btn_next">Ver explicación</div>
        </div>
    </div>

    <div class="feed-final-normas">
        <div class="retroAlimentacionMala">
            <h2>Muy bien has acabado tu segunda clase</h2>
        </div>
    </div>

</div>



</div>


