

<div class="infoClass">
  
<div id="canvasP5">

    <a class="btn-start" (click)="empezar()">Empezar</a>

    <div id="canvasP5video"></div>

    <div class="containerControlUno">

        <div class="controls">

            <div class="btn preguntaUnoA">A. Zona de reciclaje</div>
            <div class="btn preguntaUnoB">B. Retorno</div>
            <div class="btn preguntaUnoC">C. Berma</div>
            <div class="btn preguntaUnoD">D. Glorieta</div>

        </div>

    </div>

    <div class="containerControlDos">

        <div class="controls">

            <div class="btn preguntaDosA">A. Altura del puente</div>
            <div class="btn preguntaDosB">B. Distancia hasta el puente</div>
            <div class="btn preguntaDosC">C. El ancho del puente</div>
            <div class="btn preguntaDosD">D. Peso que soporta el puente</div>

        </div>

    </div>

    <div class="containerControlTres">

        <div class="controls">

            <div class="btn preguntaTresA">A. Preventiva</div>
            <!-- correcta B -->
            <div class="btn preguntaTresB">B. Reglamentaria</div>
            <div class="btn preguntaTresC">C. Informativa</div>
            <div class="btn preguntaTresD">D. Transitoria</div>

        </div>

    </div>

    <div class="containerControlCuatro">

        <div class="controls">

            <div class="btn preguntaCuatroA">A. De nomenclatura</div>
            <div class="btn preguntaCuatroB">B. Solo informativa</div>
            <!-- correcta C -->
            <div class="btn preguntaCuatroC">C. De seguridad vial</div>
            <div class="btn preguntaCuatroD">D. Información previa de destino</div>

        </div>

    </div>

    <div class="containerControlCinco">

        <div class="controls">
            <!-- respues zona militar -->
            <div class="btn preguntaCincoA">A. Paso peatonal</div>
            <div class="btn preguntaCincoB">B. Zona militar</div>
            <div class="btn preguntaCincoC">C. Artesanías</div>
            <div class="btn preguntaCincoD">D. Velocidad máxima</div>

        </div>

    </div>

    <div class="containerControlSeis">

        <div class="controls">
            <!-- respuesta resalto C-->
            <div class="btn preguntaSeisA">A. Depresión</div>
            <div class="btn preguntaSeisB">B. Superficie rizada</div>
            <div class="btn preguntaSeisC">C. Resalto</div>
            <div class="btn preguntaSeisD">D. Tunel</div>

        </div>

    </div>

    <div class="feed-final-senales">
            <div class="retroAlimentacionMala">
                <h2>Muy bien has acabado tu tercera clase de {{clase.name}}</h2>
            </div>
        </div>

</div>

<h2>{{clase.name}}</h2>

</div>


