
<div class="mainClases">
<div class="mainMenuClase">
  
  
<div class="buttonClass"
 *ngFor="let clase of clases" 
 (click)="onSelect(clase)" 
 [class.selected]="clase === claseSeleccionada" >

  <!-- <img src="/src/assets/banner.png" alt=""> -->
  <h3>{{clases.indexOf(clase)+1}} . {{clase.name}} 

    <i *ngIf="clase.name==='Señalización y demarcación vial' && readySignals==true ||clase.name==='Autoridades y normas de tránsito' && readyNormas ==true || clase.name==='El vehículo y la vía' &&  readyVehiculo ==true " class="fas fa-check-circle"></i> 

  </h3> 
  <p>Duración: {{clase.duracion}} minutos </p> 
  
</div> 

</div>
<!-- 
<div class="claseDetails">

</div> -->
<app-clase-details *ngIf="claseSeleccionada && claseSeleccionada.name ==='El vehículo y la vía' " [clase]=claseSeleccionada ></app-clase-details>
<app-normas-transito *ngIf="claseSeleccionada && claseSeleccionada.name ==='Autoridades y normas de tránsito' " [clase]=claseSeleccionada ></app-normas-transito>
<app-senalizacion-demarcacion *ngIf="claseSeleccionada && claseSeleccionada.name ==='Señalización y demarcación vial' " [clase]=claseSeleccionada></app-senalizacion-demarcacion>

</div>