<div class="menu-curso" (mouseover)="mouseIn()" (mouseout)="mouseOut()" >

  <p class="logo"><img src="/assets/banner.png" alt=""></p>
  <hr>
  <ul>
      <li routerLink ="/curso" class="selected" ><img src="/src/assets/curso/icons/home_white.png" alt=""> <p class="textMenu" [class.show]="overed" >Inicio</p> </li>
      <li><img src="/src/assets/curso/icons/class_white.png" alt=""><p class="textMenu" [class.show]="overed">Clases</p></li>
      <li><img src="/src/assets/curso/icons/setup_white.png" alt=""> <p class="textMenu" [class.show]="overed">Configuración</p></li>
  </ul>

  <hr>

  <a routerLink ="/"> <img src="/assets/curso/icons/logout_white.png" alt=""> <p class="textMenu" [class.show]="overed" > Salir</p></a>

</div>