
:host{

    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.containerList{
    
    width: 30%;
    margin-left: 8%;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.containerDetail{
    margin-top: 15vh;
    width: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.titleListaModulos{
    width: 90%;
    /* margin-left: 8%;    */
    padding: 10px;

    border-bottom: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    margin-bottom: 5px;
    
}

.titleListaModulos h3{

    font-weight: 500;
    text-align: center;

}

.lista-modulos{
    
    width: 100%;
    
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* background-color: gray; */
    
    
}
.lista-modulos a{

    cursor: pointer;
    padding: 10px;
    background-color: gainsboro;
    
    
    width: 25%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 3px;

    color: gray;
    transition: 0.4s;
    
    
}
.lista-modulos a{
    font-weight: 500;
    font-size: 0.9em;
} 

.lista-modulos a:hover{
    background-color:lightgrey;
    transition: 0.4s;
}

.lista-modulos a img{
    width: 60px;
    /* height: 100px; */
    
    -webkit-filter: blur(5px); /* Safari */
    filter: invert(30%);
    
}

.modulo-detalles-noselected{


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* position: relative; */
    /* margin-left: 38%; */
    /* margin-top: -70vh; */
     /* margin-top: -650px;  */
     margin-top: 30%; 

    padding: 10px;
    
    width: 80%;
    height: 10%;
    border-radius: 5px;
    border: solid 1px;
    color: gray;
    /* background-color:white; */

}

.modulo-detalles{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: flex-start;

    /* position: relative; */
    /* margin-left: 38%; */
    /* margin-top: -70vh; */
     /* margin-top: -650px;  */
     /* margin-top: -10%;  */

    padding: 10px;
    
    width: 100%;
    height: 80vh;

    border-radius: 5px;
    background-color:white;
    
}
.modulo-detalles i{
    margin: 5px;
    font-size: 1.3em;

}
.modulo-detalles h3{
    font-size: 1.1em;
    color: rgba(140,157,255,1);
}
.modulo-detalles p{
    font-size: 0.8em;
    color: darkslategray;
}


.img-modulo-detalles{
width: 100%;    
height: 350px;


background-origin: content-box;
background-repeat: no-repeat;
background-position: center;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: 1.9s;

}

.img-adaptacion{
    background-image: url("/assets/curso/bg_curso_detail.png");
}

.img-etica{
    background-image: url("/assets/curso/conflictos.jpg");
}
.img-mecanica{
    background-image: url("/assets/curso/mecanica.jpg");
}
.marco-legal{
    background-image: url("/assets/curso/marcolegal.jpg");
}
.tecnicas-conduccion{
    background-image: url("/assets/curso/tecnicas.jpg");
}
/* .img-modulo-detalles:hover{

    background-position: top;
    transition: 1.9s;
} */

.img-modulo-detalles h2{
color: white;
font-size: 1.1em;
}

.img-modulo-detalles a{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding: 8px;
    border-radius: 5px;
}

.selected{

    color: white !important;
    
background: rgba(140,157,255,1) !important ;
background: -moz-linear-gradient(45deg, rgba(140,157,255,1) 0%, rgba(102,125,255,1) 41%, rgba(48,79,254,1) 100%) !important ;
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(140,157,255,1)), color-stop(41%, rgba(102,125,255,1)), color-stop(100%, rgba(48,79,254,1)))!important ;
background: -webkit-linear-gradient(45deg, rgba(140,157,255,1) 0%, rgba(102,125,255,1) 41%, rgba(48,79,254,1) 100%)!important ;
background: -o-linear-gradient(45deg, rgba(140,157,255,1) 0%, rgba(102,125,255,1) 41%, rgba(48,79,254,1) 100%)!important ;
background: -ms-linear-gradient(45deg, rgba(140,157,255,1) 0%, rgba(102,125,255,1) 41%, rgba(48,79,254,1) 100%)!important ;
background: linear-gradient(45deg, rgba(140,157,255,1) 0%, rgba(102,125,255,1) 41%, rgba(48,79,254,1) 100%)!important ;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c9dff', endColorstr='#304ffe', GradientType=1 )!important ;

}

.selected img{

    -webkit-filter: blur(5px); /* Safari */
    filter: invert(0%) !important;
}







