<div class="inicio">

<app-login></app-login>

<app-inicio-menu></app-inicio-menu>

<div class="banner-inicio">

<div class="text-promo">

    <h3>La nueva forma de enseñar</h3><h1>El módulo teórico del curso <br>
      de conducción en Colombia.
    </h1>
    <div class="line"></div>
    <p>Mediante la metodología de Aula Invertida, los estudiantes que aspiran
        a obtener o renovar su licencia, crearán un aprendizaje significativo 
        y real de la teoría impartida por los instructores en las clases.</p>
    <p class="button">TENGO UNA ESCUELA</p>

  </div>

  <img src="./assets/banner.png" alt="">
  
</div>



</div>