<div class="inicio">

<!-- <app-login></app-login> -->

<app-inicio-menu></app-inicio-menu>

<div class="banner-inicio">

<div class="text-promo">

    <h3>La nueva forma de enseñar</h3>
    <h1>El módulo teórico del curso <br>
      de conducción en Colombia.
    </h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis delectus praesentium provident cum labore aliquid corporis! Quidem vel odio voluptas quod nostrum in, est aut aliquid, saepe fugiat voluptate repudiandae.</p>
    <p class="button">TENGO UNA ESCUELA</p>

  </div>

  <img src="./assets/banner.png" alt="">
  
</div>



</div>