


<div class="infoClass">
  
<div id="canvasP5">

<a class="btn-start" (click)="empezar()">Empezar</a>

<div class="mainActividadVia">
     <div id="actividadVia" >

            <div class="opcionesVia">
                    <select id="selector-anden">

                            <option value="none">1</option>
                            <option value="anden">Anden</option>
                            <option value="berma">Berma</option>
                            <option value="separador">Separador</option>
                            <option value="calzada">Calzada</option>
                            <option value="carril">Carril</option>
            
                    </select>

                    <select id="selector-berma">
                            <option value="none">2</option>
                            <option value="anden">Anden</option>
                            <option value="berma">Berma</option>
                            <option value="separador">Separador</option>
                            <option value="calzada">Calzada</option>
                            <option value="carril">Carril</option>
            
                    </select>

                    <select id="selector-separador">
                            <option value="none">3</option>
                            <option value="anden">Anden</option>
                            <option value="berma">Berma</option>
                            <option value="separador">Separador</option>
                            <option value="calzada">Calzada</option>
                            <option value="carril">Carril</option>
            
                    </select>

                    <select id="selector-calzada">
                            <option value="none">4</option>
                            <option value="anden">Anden</option>
                            <option value="berma">Berma</option>
                            <option value="separador">Separador</option>
                            <option value="calzada">Calzada</option>
                            <option value="carril">Carril</option>
            
                    </select>

                    <select id="selector-carril">
                            <option value="none">5</option>
                            <option value="anden">Anden</option>
                            <option value="berma">Berma</option>
                            <option value="separador">Separador</option>
                            <option value="calzada">Calzada</option>
                            <option value="carril">Carril</option>
            
                    </select>

                    <div class="btn-next">CONTINUAR...</div>
            </div>

            <img src="src/assets/bg_actividad_partescarretera.jpg" alt="">

            
    </div>
</div>

<div class="feed-main-via">
        <div class="feed">
                <h1>Muy Bien!</h1>
                <div class="btn-next-via">CONTINUAR...</div>
        </div>
</div>

<div class="mainActividadVehiculo_uno">
        <div class="actividadVehiculo">
                <div class="titleActividad"><h2>Identifique las siguientes partes del vehículo</h2></div>
                <div class="contentActividad">
                         <div id="img_act" class="actividadVehiculo_img">
                                  <img src="src/assets/actividades/bg_actividadvehiculo/volante_img.png" alt="">  
                         </div>

                         <div class="actividadVehiculo_options">

                                 <div class="btnOpt option_a"> <b>A: </b> Pito </div>
                                 <div class="btnOpt option_b"> <b>B: </b> Pedal de embrague</div>
                                 <div class="btnOpt option_c"> <b>C: </b> Volante de dirección </div>
                                 <div class="btnOpt option_d"> <b>D: </b> Espejo retrovisor </div>

                         </div>

                 </div>

                 <div class="btn-next-auto">CONTINUAR...</div>
              
        </div>
</div>

<div class="mainActividadVehiculo_dos">
                <div class="actividadVehiculo">
                        <div class="titleActividad"><h2>Identifique las siguientes partes del vehículo</h2></div>
                        <div class="contentActividad">
                                 <div id="img_act" class="actividadVehiculo_img">
                                          <img src="src/assets/actividades/bg_actividadvehiculo/frenomano_img.png" alt="">  
                                 </div>
        
                                 <div class="actividadVehiculo_options">
        
                                         <div class="btnOpt option_a_dos"> <b>A: </b> Pedal de freno </div>
                                         <div class="btnOpt option_b_dos"> <b>B: </b> Pedal de embrague</div>
                                         <div class="btnOpt option_c_dos"> <b>C: </b> Volante de dirección </div>
                                         <div class="btnOpt option_d_dos"> <b>D: </b> Freno de emergencia </div>
        
                                 </div>
        
                         </div>
        
                         <div class="btn-next-auto-dos">CONTINUAR...</div>
                      
                </div>
</div>

<div class="mainActividadVehiculo_tres">
                <div class="actividadVehiculo">
                        <div class="titleActividad"><h2>Identifique las siguientes partes del vehículo</h2></div>
                        <div class="contentActividad">
                                 <div id="img_act" class="actividadVehiculo_img">
                                          <img src="src/assets/actividades/bg_actividadvehiculo/cambios_img.png" alt="">  
                                 </div>
        
                                 <div class="actividadVehiculo_options">
        
                                         <div class="btnOpt option_a_tres"> <b>A: </b> Pedal de freno </div>
                                         <div class="btnOpt option_b_tres"> <b>B: </b> Palanca de cambios</div>
                                         <div class="btnOpt option_c_tres"> <b>C: </b> Pito </div>
                                         <div class="btnOpt option_d_tres"> <b>D: </b> Volante de dirección </div>
        
                                 </div>
        
                         </div>
        
                         <div class="btn-next-auto-tres">CONTINUAR...</div>
                      
                </div>
</div>

<div class="feed-main-vehiculo">
        <div class="feed">
         <h1>Muy Bien!</h1>
         <p class="f_correcta">Respuestas Correctas: </p>
         <p class="f_incorrecta">Respuestas Incorrectas: </p>
         <div class="btn-next-via-feed">CONTINUAR...</div>
        </div>
</div>

<div class="feed-final-viayvehiculo">
                <div class="feed">
                 <h1>Muy Bien! Haz terminado tu primera clase de <b>El vehículo y la vía</b> </h1>
                </div>
        </div>

</div>

<h2>{{clase.name}}</h2>

</div>